@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözlünk az oldalon</h1>
    <p>Az ország legjobb és legízlésesebb árualkatrész webáruháza!!!</p>

    <img src="https://media1.giphy.com/media/jYmGmDK3rKdkk/giphy.gif" />
</div>
